<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/MoodiModo" version="1.0.1" viewmodes="maximized">
    <tizen:app-control>
        <tizen:src name="report_mood.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/report_mood"/>
    </tizen:app-control>
    <tizen:application id="bELa1lU4il.MoodiModo" package="bELa1lU4il" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/api/alarm" required="true"/>
    <feature name="http://tizen.org/api/alarm.read" required="true"/>
    <feature name="http://tizen.org/api/alarm.write" required="true"/>
    <feature name="http://tizen.org/api/application" required="true"/>
    <feature name="http://tizen.org/api/application.kill" required="true"/>
    <feature name="http://tizen.org/api/application.launch" required="true"/>
    <feature name="http://tizen.org/api/application.read" required="true"/>
    <feature name="http://tizen.org/api/systeminfo" required="true"/>
    <feature name="http://tizen.org/api/time" required="true"/>
    <feature name="http://tizen.org/api/time.read" required="true"/>
    <feature name="http://tizen.org/api/time.write" required="true"/>
    <feature name="http://tizen.org/api/tizen" required="true"/>
    <icon src="icon.png"/>
    <name>MoodiModo</name>
    <tizen:privilege name="http://tizen.org/privilege/alarm"/>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:setting screen-orientation="portrait" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
	  
	   
    
     
    
     
    
	 
	   
</widget>
